{# Interface configuration: loopback, fabric links, and host-facing ports. #}
!
! --- Loopback ---
!
interface lo
 ip address {{ device.loopback }}
 description {{ defaults.description_prefix }} loopback
!
! --- Fabric Links ---
!
{% for link in links %}
interface {{ link.interface }}
 ip address {{ link.ip }}
 mtu {{ defaults.fabric_link_mtu }}
 description {{ defaults.description_prefix }} {{ link.description }}
 ip ospf network point-to-point
 ip ospf area {{ ospf.area }}
{% if ospf.timers %}
 ip ospf hello-interval {{ ospf.timers.hello }}
 ip ospf dead-interval {{ ospf.timers.dead }}
{% endif %}
!
{% endfor %}
{% if interfaces %}
! --- Host-Facing Interfaces ---
!
{% for iface in interfaces %}
interface {{ iface.interface }}
 description {{ defaults.description_prefix }} {{ iface.description }}
{% if iface.mode.value == 'access' %}
 switchport mode access
 switchport access vlan {{ iface.vlans[0] }}
{% elif iface.mode.value == 'trunk' %}
 switchport mode trunk
 switchport trunk allowed vlan {{ iface.vlans | join(',') }}
{% endif %}
!
{% endfor %}
{% endif %}
