{# Interface configuration: loopback and fabric links.
   FRR handles IP addressing and OSPF parameters on interfaces.
   MTU is set at the OS level (ip link set), not through vtysh.
   Host-facing interface configuration (switchport, VLANs) is
   platform-dependent and handled outside FRR on real switches.
   Here we include them as descriptive comments for documentation.
#}
!
! --- Loopback ---
!
interface lo
 ip address {{ device.loopback }}
 ip ospf area {{ ospf.area }}
 description {{ defaults.description_prefix }} loopback
!
! --- Fabric Links ---
!
{% for link in links %}
interface {{ link.interface }}
 ip address {{ link.ip }}
 description {{ defaults.description_prefix }} {{ link.description }}
 ip ospf network point-to-point
 ip ospf area {{ ospf.area }}
{% if ospf.timers %}
 ip ospf hello-interval {{ ospf.timers.hello }}
 ip ospf dead-interval {{ ospf.timers.dead }}
{% endif %}
!
{% endfor %}
{% if interfaces %}
! --- Host-Facing Interfaces ---
!
{% for iface in interfaces %}
interface {{ iface.interface }}
 description {{ defaults.description_prefix }} {{ iface.description }}
!
{% endfor %}
{% endif %}
